<!DOCTYPE html>
<html>
<head>
  <title>Sidekiq monitoring</title>
  <%= stylesheet_link_tag    "sidekiq_monitoring/application", media: "all" %>
  <%= javascript_include_tag "sidekiq_monitoring/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
